<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strongest.savingdata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".DependencyInjection.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/rm1_logo"
        android:label="rm1"
        android:roundIcon="@drawable/rm1_logo"
        android:supportsRtl="false"
        android:theme="@style/newAppTheme"
        tools:replace="android:label, supportsRtl">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dialogs.DialogMuscleSelect"
            android:theme="@style/AppTheme.CustomeTheme" />
        <activity android:name=".Fragments.Choose.ChooseDialogFragment" />
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".Activities.TutorialActivity" />
        <activity android:name=".Activities.ExerciseDetailsActivity" />
        <activity android:name=".Activities.SetsDetailsActivity"></activity>
    </application>

</manifest><!--
    android:configChanges="orientation|keyboardHidden"
    android:screenOrientation="portrait"
-->
