<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strongest.savingdata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".DependencyInjection.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/rm1_logo"
        android:label="rm1"
        android:roundIcon="@drawable/rm1_logo"
        android:supportsRtl="false"
        android:theme="@style/newAppTheme"
        tools:replace="android:label, supportsRtl">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name="youruserpools.MainActivity" />
        <activity
            android:name=".Dialogs.DialogMuscleSelect"
            android:theme="@style/AppTheme.CustomeTheme" />
        <activity android:name=".Fragments.Choose.ChooseDialogFragment" />
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".Activities.TutorialActivity" />
        <activity android:name=".Activities.ExerciseDetailsActivity" />
        <activity android:name=".Activities.SetsDetailsActivity" />

        <!-- CognitoActivities -  to delete -->
        <activity
            android:name="youruserpools.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.AddAttributeActivity"
            android:label="@string/title_activity_add_attribute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.DeviceSettings"
            android:label="@string/title_activity_device_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="youruserpools.ChooseMFA"
            android:label="@string/title_activity_choose_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity2"
            android:label="@string/title_activity_login2" />
        <activity android:name=".Activities.MyProgramsActivity" />
        <activity android:name=".Activities.ShareProgramActivity"></activity>
    </application>

</manifest><!--
    android:configChanges="orientation|keyboardHidden"
    android:screenOrientation="portrait"
-->
